<html>

<head>
    <link rel="stylesheet" href="../static/card.css" />
</head>

<body>








    <h1>Log in</h1>
    <form action="/login" method="POST" enctype="multipart/form-data">
        <label for="email">Email</label>
        <input type="text" name="email"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Log In">
    </form>

    <h1>Sign Up</h1>
    <form method="POST" action="/signup" enctype="multipart/form-data">
        <label for="email">Email</label>
        <input type="text" name="email"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Sign Up">
    </form>


</body>

</html>